{% extends "layout.html" %}
{% block content %}
<div id="About">
<h1>About Us</h1>
<img src="static/img/logo.jpg" alt="Logo" width="175" height="125">
<br>
<br>
<p>Bright As A Button is a homemade hand-knitted hat business.
  <br>
  <br>
  We started out in 2017 and have become known around the local craft markets.
  We make warm wooly for both children and adults in a wide range of styles and colours.
  <br>
  <br>
  Hats can be bought from the online shop or we can custom make hats to your preference for a one of kind accessory.</br>
  Simply contact us through any platform or email! :)</p>
</div>
{% endblock content %}
