{% extends "layout.html" %}
{% block content %}
<center>
<div id="register">
<h1>Register</h1>
<p>Enter your details here</p>
<br>
<form method="POST" action="">
{{ form.csrf_token }}
{{ form.username.label }}
<br>
{{ form.username }}
<br>{% for error in form.username.errors %}<span style="color: red;">{{error}}</span>{% endfor %}
<br>
{{ form.email.label }}
<br>
{{ form.email }}
<br>{% for error in form.email.errors %}<span style="color: red;">{{error}}</span>{% endfor %}
<br>
{{ form.password.label }}
<br>
{{ form.password }}<br>{% for error in form.password.errors %}<span style="color: red;">{{error}}</span>{% endfor %}
<br>
{{ form.confirm_password.label }}
<br>
{{ form.confirm_password }}<br>{% for error in form.confirm_password.errors %}<span style="color: red;">{{error}}</span>{% endfor %}
<br>
<br>
<input type="submit" value="Register">
</form>
<br>

<img id="HomeLogo" src="static/img/logo.jpg" alt="Logo" width="175" height="125">
<p>Already registered? Login <a href="{{ url_for('login') }}"><b>here</b></a></p>
</div>
</center>
{% endblock content %}
